.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0;
}

.main picture{
    display:flex;
    margin:auto;
}

.headerText {
    color: #057854;
    border-bottom: 2px solid #bcded3;
    font-size: calc(32px + 1.75vw);
    font-family: Poppins;
    letter-spacing: 0.05em;
    padding-top: 0.1em;
    margin-top: 1em;
    font-weight: 500;
}

.logo {
    width: auto;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.about {
    color: white;
    font-size: calc(12px + 1.5vw);
    margin: auto;
    margin-bottom:0.5em;
    text-align: left;
    text-indent: calc(12px + 1.5vw);
    font-weight: 500;
    font-family: Poppins;
    width: 85%;
}

.menu_container{
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    justify-content:space-around;
}

.menu_left{
    width: 40%;
    height: auto;
}

.menu_right{
    width: 40%;
    height:auto;
}

@media(max-width:124em) {
    .textDiv p {
        font-size: 32px;
    }

    #more {
        font-size: 32px;
    }

    .headerText {
        font-size: 48px;
    }

    .about {
        font-size: 30px;
        text-indent: 30px;
    }

    .peter{
        margin-top:1.5em;
    }

    .competenciesHeader {
        font-size: 34px;
    }

    .competencies {
        font-size: 32px;
    }

}

@media(max-width:105em) {

    .textDiv p {
        font-size: 24px;
    }

    #more {
        font-size: 24px;
    }

    .headerText {
        font-size: 42px;
    }

    .about {
        font-size: 28px;
        text-indent: 28px;
    }

    .competencies {
        transform:translateX(5%);
    }

        .competencies li {
            width: 30%;
        }
}

@media(max-width: 87.5em) {
    .main{
        margin-right:0.25em;
        margin-left:0.25em;
    }
    .menu_container {
        flex-direction: column;
        justify-content: center;
        gap: 3em;
    }

    .menu_left {
        width: 60%;
        margin: auto;
    }

    .menu_right {
        width: 60%;
        margin: auto;
    }
}

@media screen and (orientation: landscape) {

    @media (max-width: 68em) {
        .headerText {
            font-size: 38px;
        }

        .about {
            font-size: 24px;
            text-indent: 24px;
        }
    }


    @media (max-width: 54em) {

        .headerText {
            font-size: 36px;
        }

        .about {
            font-size: 22px;
            text-indent: 22px;
        }
    }

    @media(max-width: 50em) {

    }

        @media(max-width: 36em) {

            .headerText {
                font-size: 28px;
            }

            .about {
                font-size: 18px;
                text-indent: 18px;
            }

        }

        @media(max-width:24em) {
            .about {
                font-size: 18px;
                text-indent: 18px;
            }
        }
    }

@media screen and (orientation: portrait) {

    .menu_container{
        flex-direction:column;
        justify-content:center;
        gap:2em;
    }

    .menu_left{
        width:100%;
        margin:auto;
    }
    .menu_right{
        width:100%;
        margin:auto;
    }

    @media (max-width: 68em) {
        
        .headerText {
            font-size: 42px;
        }

        .about {
            font-size: 28px;
            text-indent: 28px;
            width: 90%;
        }
    }


    @media (max-width: 52em) {

        .headerText {
            font-size: 32px;
        }

        .about {
            font-size: 24px;
            text-indent: 16px;
        }
    }

    @media(max-width: 40em) {

        .about {
            font-size: 20px;
            text-indent: 12px;
        }
    }

    @media(max-width:24em) {
        .about {
            font-size: 16px;
            text-indent: 16px;
        }
    }
}
